/*
===========================================================
Standard CSS that applies to all Web sites.
This file should not include styles that have a impact
on the visual design of the page. That CSS should be placed
into a file that would be for that specific Web site.
===========================================================
*/

/* Make sure Mozilla/Firefox always has a scroll
bar to prevent pages from jumping left and right */
html { min-height: 100%; margin-bottom: 1px; }

/* Remove the right margin from block quotes to prevent problems with
multiple embedded blockquotes eating away at the space available. */
blockquote {
	margin-right: 0px;
}

/* Remove top margin that some standards-complient mode browsers will add
before certian tags when they are the first child of a table cell.
Note: This works in CSS2 supported browsers only. */
td > p:first-child,
td > h1:first-child, td > h2:first-child, td > h3:first-child,
td > ul:first-child, td > ol:first-child {
	margin-top: 0;
}

/* Remove bottom margin that some standards-complient mode browsers will add
before certian tags when they are the first child of a table cell.
Note: This works in CSS3 supported browsers only. */
td > p:last-child,
td > h1:last-child, td > h2:last-child, td > h3:last-child,
td > ul:last-child, td > ol:last-child {
	margin-bottom: 0;
}

/* A ruler that can be used to avoid some problems with <hr> */
p.ruler {
	border-top: 1px #968856 solid;
	width: 100%;
	height: 1px;
	display: block;
	text-align: left;
	overflow:hidden;
	padding: 0 !important;
	margin: 0 !important;
}

/* Custom list item Padding */
li.itempadding {
	padding-top: 2px;
	padding-bottom: 2px;
}
li.itemextraline {
	padding-top: 6px;
	padding-bottom: 6px;
}
li.itemnopadding {
	padding-top: 0;
	padding-bottom: 0;
}

/* Custom list item padding that applies to an entire list */
ol.listpadding li, ul.listpadding li {
	padding-top: 2px;
	padding-bottom: 2px;
}
ol.listextraline li, ul.listextraline li {
	padding-top: 6px;
	padding-bottom: 6px;
}
ol.listnopadding li, ul.listnopadding li {
	padding-top: 0;
	padding-bottom: 0;
}

/* Custom behaviors for the underlines for links. */
a.hoverline:link, a.hoverline:active, a.hoverline:visited,
.hoverline-all a:link, .hoverline-all a:active, .hoverline-all a:visited {
	text-decoration: none; }
a.hoverline:hover, .hoverline-all a:hover {
	text-decoration: underline; }

a.nohoverline:link, a.nohoverline:active, a.nohoverline:visited,
.nohoverline-all a:link, .nohoverline-all a:active, .nohoverline-all a:visited {
	text-decoration: underline; }
a.nohoverline:hover, .nohoverline-all a:hover {
	text-decoration: none; }

a.noline:link, a.noline:active, a.noline:visited, a.noline:hover,
.noline-all a:link, .noline-all a:active, .noline-all a:visited, .noline-all a:hover {
	text-decoration: none; }