/*
===========================================================
Standardize fonts using CSS instead of font tags.
This does not work well in all situations, but should give a
professional Web developer more control if he/she needs to make
a site-wide change to font families or font sizes.

This file should not contain anything that is specific to a
single Web site, such as page titles or headers (h1, h2, etc).
That CSS should be placed in a file that is specific for that Web site.
===========================================================
*/

body, div, p, th, td, li, dd, dl, dt {
	/* The "default" font for the Web site */
	font-family: Arial, Helvetica, sans-serif;
	
	/* This is the base size that is considered "normal". If this
	size is changed you must change all the plus and minus styles. */	
	font-size: 13px; 
}

.arial-minus2, .arial-minus1, .arial-normal, .arial-plus1, .arial-plus2, .arial-plus3, .arial-plus4 {
	font-family: Arial, Helvetica, sans-serif;
}

.verdana-minus2, .verdana-minus1, .verdana-normal, .verdana-plus1, .verdana-plus2, .verdana-plus3, .verdana-plus4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.times-minus2, .times-minus1, .times-normal, .times-plus1, .times-plus2, .times-plus3, .times-plus4 {
	font-family: Times New Roman, Times, serif;
}

/* Different sizes for the fonts */
.arial-minus2, .verdana-minus2, .times-minus2, default-minus2 {
	font-size: 10px;
}
.arial-minus1, .verdana-minus1, .times-minus1, .default-minus1 {
	font-size: 11px;
}
.arial-plus1, .verdana-plus1, .times-plus1, .default-plus1 {
	font-size: 14px;
}
.arial-plus2, .verdana-plus2, .times-plus2, .default-plus2 {
	font-size: 15px;
}
.arial-plus3, .verdana-plus3, .times-plus3, .default-plus3 {
	font-size: 17px;
}
.arial-plus4, .verdana-plus4, .times-plus4, .default-plus4 {
	font-size: 19px;
}

/* Import styles for modern browsers */
@import url(standardfonts-import.css);